<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:action="@{/items/new}" th:object="${form}" method="post">
        <div class="form-group">
            <label th:for="name">Product Name</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="Input name">
        </div>
        <div class="form-group">
            <label th:for="price">Price</label>
            <input type="number" th:field="*{price}" class="form-control" placeholder="Input price">
        </div>
        <div class="form-group">
            <label th:for="stockQuantity">Count</label>
            <input type="number" th:field="*{stockQuantity}" class="form-control" placeholder="Input count">
        </div>
        <div class="form-group">
            <label th:for="author">Author</label>
            <input type="text" th:field="*{author}" class="form-control" placeholder="Input Author">
        </div>
        <div class="form-group">
            <label th:for="isbn">ISBN</label>
            <input type="text" th:field="*{isbn}" class="form-control" placeholder="Input ISBN">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>